In [1]:
import pandas as pd 
import numpy as np 
import seaborn as sns

In [2]:
df = pd.read_csv("./Data/play_tennis.csv")

In [3]:
df.head()

  day   outlook  temp humidity    wind play
0  D1     Sunny   Hot     High    Weak   No
1  D2     Sunny   Hot     High  Strong   No
2  D3  Overcast   Hot     High    Weak  Yes
3  D4      Rain  Mild     High    Weak  Yes
4  D5      Rain  Cool   Normal    Weak  Yes

In [4]:
df['play'].value_counts()

play
Yes    9
No     5
Name: count, dtype: int64

In [5]:
py = 9/14
pn = 5/14

In [6]:
print(py)
print(pn)

0.6428571428571429
0.35714285714285715

In [7]:
#outlook
pd.crosstab(df['outlook'], df['play'])

play      No  Yes
outlook
Overcast   0    4
Rain       2    3
Sunny      3    2

In [8]:
Pon= 0
prn = 2/5
psn = 3/5


poy = 4/9
pry = 3/9
psy = 2/9

In [9]:
#outlook
pd.crosstab(df['temp'], df['play'])

play  No  Yes
temp
Cool   1    3
Hot    2    2
Mild   2    4

In [10]:
PCoolNo = 1/5
PhotNo = 2/5
PMildNo = 2/5


# for yes

PCoolYes = 3/9
PHotYes = 2/9
PMildYes = 4/9

In [11]:
#outlook
pd.crosstab(df['humidity'], df['play'])

play      No  Yes
humidity
High       4    3
Normal     1    6

In [12]:
PHighNo = 4/5
PNormalNo = 1/5

PHighYes = 3/9
PNormalYes = 6/9

In [13]:
#outlook
pd.crosstab(df['wind'], df['play'])

play    No  Yes
wind
Strong   3    3
Weak     2    6

In [14]:
PStrongNo = 3/5
PWeakNo = 2/5

PStrongYes = 3/9
PWeakYes = 6/9

In [16]:
Pyes = py*psy*PHotYes*PHighYes*PWeakYes
print(Pyes)

0.007054673721340388

In [17]:
Pno = py * psn * PhotNo * PHighNo * PWeakNo
print(Pno)

0.04937142857142858

In [ ]:
# no